# Node & Angular/Nest JS Dependencies
**/node_modules/
**/dist/
**/.angular/
**/*.tsbuildinfo

# Environment files
**/.env
**/.env.*

# Arquivos enviados pelo admin (imagens de produtos)
**/uploads/

# SQLite Database
**/prisma/*.db
**/prisma/*.db-journal

# Logs e arquivos do SO
*.log
.DS_Store